---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "JVLorCor";
---

<BaseLayout title={title}>
  <ul class="inicio">
    <li class="conocimientos">
      <div>
        <h2>Experiencia</h2>
        <ul>
          <li>
            <h3>Desarrollador Web</h3>
            <p>Freelance</p>
            <p>2024</p>
          </li>
          <li>
            <h3>Desarrollador Web y diseño</h3>
            <p>Cersia</p>
            <p>2023 - 2024</p>
          </li>
          <li>
            <h3>Autónomo: electrónico del automóvil</h3>
            <p>KeyMaster</p>
            <p>2022 - 2023</p>
          </li>
          <li>
            <h3>Electricista</h3>
            <p>Tembra Instalaciones SL</p>
            <p>2018 - 2019</p>
          </li>
        </ul>
          <h2>Skills</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>Indesign</li>
            <li>After Effects</li>
            <li>Final Cut</li>
            <li>Pro Tools</li>
            <li>Arduino</li>
            <li>Raspberry Pi</li>
            <li>Windows</li>
          </ul>
          <h2>Conocimientos</h2>
          <ul>
            <li>Desarrollo Web</li>
            <li>Programación</li>
            <li>Diseño Gráfico</li>
            <li>Edición de Vídeo</li>
            <li>Edición de Audio</li>
            <li>Electrónica</li>
            <li>Automoción</li>
            <li>Electricidad</li>
            <li>Telecomunicaciones</li>
          </ul>
      </div>
    </li>
  </ul>
  </BaseLayout>
  <style>
    .inicio {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  </style>
  