---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "JVLorCor";
---

<BaseLayout title={title}>
  <img src="../../public/me.webp" alt="" style="height: 100px; width:100px;">
  <ul>
    <li>
      <h2>Experiencia</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus voluptatum
      praesentium ex hic sunt quam aliquam quibusdam, modi quo repudiandae asperiores
      deleniti, nostrum tempora minus, cupiditate aperiam veritatis totam culpa.
    </li>
    <li>
      <h2>Skills</h2>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat amet ratione,
      tempora, magni obcaecati nobis ea voluptate ex temporibus consequatur et numquam
      aperiam dignissimos vitae, unde assumenda aliquid ducimus earum.
    </li>
    <li>
      <h2>Conocimientos</h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ipsam
      cumque fugiat aspernatur incidunt tenetur omnis ipsum aperiam porro mollitia,
      asperiores ratione ducimus quos nesciunt, fugit odio magnam ut cupiditate.
    </li>
  </ul>
</BaseLayout>
