---

---

<div>
    <img
        src="https://avatars.githubusercontent.com/u/7221389?s=460&u="
        alt="imagen de perfil"
    />
    <div class="nav-links">
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
    </div>
</div>
<style>
    img {
        display:flex;
        justify-content: space-between;
        max-width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>
